<div class="leather-back leather-back_fullscreen only-mobile" data-aos="fade-down-left" data-aos-delay="1000" data-aos-duration="2000">
  <%= link_to image_tag(@leather.sq_mobile, alt: "Обложка кожи #{@leather.number}"), url_for(@leather.sq_big), {:class => "leather-back__link"} if @leather.image.attached? %>
</div>
<div class="leather-back leather-back_fullscreen only-desktop" data-aos="fade-down-left" data-aos-delay="1000" data-aos-duration="2000">
  <%= link_to image_tag(@leather.sq_big, alt: "Обложка кожи #{@leather.number}"), url_for(@leather.sq_full), {:class => "leather-back__link"} if @leather.image.attached? %>
</div>
<div class="leather"> 
  <div class="wrapper">
    <div class="leather__logo logo">
      <%= link_to image_tag("logo.svg"), root_path, class: "logo__link", alt: "Логотип Альбома Кож" %>
    </div>
  </div>
  <div class="leather__info">
    <div class="leather__wrapper">
      <h2 class="leather__subtitle" data-aos="fade">
        <%= @leather.status %>
      </h2>
      <h1 class="leather__title" data-aos="fade" data-aos-delay="300">
        <%= @leather.number %>. <%= @leather.name %>
        <% if current_admin %>
        <div class="leather__settings">
            <%= link_to image_tag("edit.svg",alt: "Изменить кожу", title: "Изменить кожу"), edit_leather_path(@leather) %>
            <%= link_to image_tag("remove.svg",alt: "Удалить кожу", title: "Удалить кожу"), leather_path(@leather),
              method: :delete, class: "remove-leather" %>
        </div>
        <% end %>
      </h1>
      <p class="leather__desc" data-aos="fade" data-aos-delay="400"><%= @leather.description %></p>
      <ul class="leather__facts">
        <li class="leather__fact fact" data-aos="fade" data-aos-delay="500">
          <strong class="fact__title">Тип выделки:</strong>
          <span class="fact__value"><%= @leather.nature %></span>
        </li>
        <li class="leather__fact fact" data-aos="fade" data-aos-delay="600">
          <strong class="fact__title">Рисунок:</strong>
          <span class="fact__value"><%= @leather.texture %></span>
        </li>
        <li class="leather__fact fact" data-aos="fade" data-aos-delay="700">
          <strong class="fact__title">Блеск:</strong>
          <span class="fact__value"><%= @leather.sheen %></span>
        </li>
        <li class="leather__fact fact" data-aos="fade" data-aos-delay="800">
          <strong class="fact__title">Жёсткость:</strong>
          <span class="fact__value"><%= @leather.hardness %></span>
        </li>               
        <li class="leather__fact fact" data-aos="fade" data-aos-delay="900">
          <strong class="fact__title">Цвет:</strong>
          <span class="fact__value"><%= @leather.color1 %><%= ", " + @leather.color2 if @leather.color2.present? %>
          </span>
        </li>
        <li class="leather__fact fact" data-aos="fade" data-aos-delay="1000">
          <strong class="fact__title">Влагозащита:</strong>
          <span class="fact__value"><%= @leather.mprotection %></span>
        </li>
      </ul>
    </div>
  </div>
  <% if !@leather.leather_photos.attached? && !@leather.shoes_photos.attached? && !@leather.bags_photos.attached? && !@leather.other_photos.attached? && !current_admin %>
  <% else %>
    <div class="leather__gallery gallery" id="gallery">
      <ul class="gallery__nav nav" id="gallery__nav-tab">
        <li class="gallery__group">
          <a class="nav-item active" id="gallery__nav-all-tab" data-toggle="tab" href="#gallery__nav-all">
            Все
          </a>
        </li>
        <% if !@leather.leather_photos.attached? && !current_admin %>
        <% else %>
          <li class="gallery__group">
            <a class="nav-item" id="gallery__nav-leather-tab" data-toggle="tab" href="#gallery__nav-leather">
              Кожи
            </a>
          </li>
        <% end %>
        <% if !@leather.shoes_photos.attached? && !current_admin %>
        <% else %>
        <li class="gallery__group">
          <a class="nav-item" id="gallery__nav-shoes-tab" data-toggle="tab" href="#gallery__nav-shoes">
            Обувь
          </a>
        </li>
        <% end %>
        <% if !@leather.bags_photos.attached? && !current_admin %>
        <% else %>
        <li class="gallery__group">
          <a class="nav-item" id="gallery__nav-bags-tab" data-toggle="tab" href="#gallery__nav-bags">
            Рюкзаки
          </a>
        </li>
        <% end %>
        <% if !@leather.other_photos.attached? && !current_admin %>
        <% else %>
        <li class="gallery__group">
          <a class="nav-item" id="gallery__nav-other-tab" data-toggle="tab" href="#gallery__nav-other">
            Другое
          </a>
        </li>
        <% end %>
      </ul>
      <div class="tab-content" id="gallery__nav-tabContent">
        <div class="tab-pane fade show active" id="gallery__nav-all">
          <div class="gallery__photos">
            <% if @leather.video_url.present? && @leather.video_id.present? %>
              <div class="gallery__img video" data-aos="fade">
                <%= image_tag('placeholder.gif', {'data-src' => url_for(@leather.sq_thumb), 'class' => 'lozad', 'alt' =>"Обложка видео с кожей"}) %>
                <%= link_to 'Посмотреть видео', @leather.video_url, {"data-youtube-id" => "#{@leather.video_id}", :class => "video__play video-thumb js-trigger-video-modal button button_animate"} %>
              </div>
            <% end %>
            <% @leather.leather_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото кожи"}), url_for(@leather.full(photo)) %>
            </div>
            <% end %>
            <% @leather.shoes_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото обуви с кожей"}), url_for(@leather.full(photo)) %>
            </div>
            <% end %>
            <% @leather.bags_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото сумки с кожей"}), url_for(@leather.full(photo)) %>
            </div>
            <% end %>
            <% @leather.other_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото кожи на других вещах"}), url_for(@leather.full(photo)) %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="gallery__nav-leather">
          <% if current_admin %>
          <div class="gallery__upload">
            <%= form_for @leather do |f| %>
              <div class="file-drop-area">
                <span class="fake-btn">Выбрать фото</span>
                <span class="file-msg"></span>
                <%= f.file_field :leather_photos, multiple: true, class: "form__field file-input", required: true %>
              </div>
              <%= f.submit 'Загрузить в альбом', class: 'gallery__submit' %> 
            <% end %>
          </div>
          <% end %>
          <div class="gallery__photos">
            <% @leather.leather_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото кожи"}), url_for(@leather.full(photo)) %>
              <% if current_admin %>
                <%= link_to delete_image_attachment_leather_url(photo.id), method: :delete, remote: true, class: "delete gallery__remove" do %>
                  <%= image_tag("remove-w.svg") %>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="gallery__nav-shoes">
          <% if current_admin %>
          <div class="gallery__upload">
            <%= form_for @leather do |f| %>
              <div class="file-drop-area">
                <span class="fake-btn">Выбрать фото</span>
                <span class="file-msg"></span>
                <%= f.file_field :shoes_photos, multiple: true, class: "form__field file-input", required: true %>
              </div>
              <%= f.submit 'Загрузить в альбом', class: 'gallery__submit' %> 
            <% end %>
          </div>
          <% end %>
          <div class="gallery__photos">
            <% @leather.shoes_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото обуви с кожей"}), url_for(@leather.full(photo)) %>
              <% if current_admin %>
                <%= link_to delete_image_attachment_leather_url(photo.id), method: :delete, remote: true, class: "delete gallery__remove" do %>
                  <%= image_tag("remove-w.svg") %>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="gallery__nav-bags">
          <% if current_admin %>
          <div class="gallery__upload">
            <%= form_for @leather do |f| %>
              <div class="file-drop-area">
                <span class="fake-btn">Выбрать фото</span>
                <span class="file-msg"></span>
                <%= f.file_field :bags_photos, multiple: true, class: "form__field file-input", required: true %>
              </div>
              <%= f.submit 'Загрузить в альбом', class: 'gallery__submit' %> 
            <% end %>
          </div>
          <% end %>
          <div class="gallery__photos">
            <% @leather.bags_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото сумки с кожей"}), url_for(@leather.full(photo)) %>
              <% if current_admin %>
                <%= link_to delete_image_attachment_leather_url(photo.id), method: :delete, remote: true, class: "delete gallery__remove" do %>
                  <%= image_tag("remove-w.svg") %>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="gallery__nav-other">
          <% if current_admin %>
          <div class="gallery__upload">
            <%= form_for @leather do |f| %>
              <div class="file-drop-area">
                <span class="fake-btn">Выбрать фото</span>
                <span class="file-msg"></span>
                <%= f.file_field :other_photos, multiple: true, class: "form__field file-input", required: true %>
              </div>
              <%= f.submit 'Загрузить в альбом', class: 'gallery__submit' %> 
            <% end %>
          </div>
          <% end %>
          <div class="gallery__photos">
            <% @leather.other_photos.each do |photo| %>
            <div class="gallery__img" data-aos="fade">
              <%= link_to image_tag('placeholder.gif', {'data-src' => url_for(@leather.thumb(photo)), 'class' => 'lozad', 'alt' =>"Фото кожи на других вещах"}), url_for(@leather.full(photo)) %>
              <% if current_admin %>
                <%= link_to delete_image_attachment_leather_url(photo.id), method: :delete, remote: true, class: "delete gallery__remove" do %>
                  <%= image_tag("remove-w.svg") %>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<script>
  var observer = lozad()
  observer.observe()
</script>

<!-- video modal -->
  <div class="video-modal">
    <div id="video-modal-content" class="video-modal-content">
       <iframe 
          id="youtube" 
          width="100%" 
          height="100%" 
          frameborder="0" 
          allow="autoplay" 
          allowfullscreen 
          src=
        ></iframe>
        <a href="" class="close-video-modal">
          <%= image_tag 'cross.svg', alt: 'Закрыть видео' %>
        </a>
      </div>
    <div class="overlay"></div>
</div>
