<% if @target.errors.any? %>
	<div class="alert alert-danger">
		<h5>
			<ul>
				<% @target.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</h5>
	</div>
<% end %>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-6 text-center">
			<%= form_for @target do |f| %>
				<div class="form-control">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>

				<div class="form-control">
					<%= f.submit 'Сохранить', class: 'skin-button' %>
					<%= link_to 'Отмена', targets_path, class: 'skin-button' %>
				</div>
			<% end %>
		</div>
	</div>
</div>