<% if @skin.errors.any? %>
	<div class="alert alert-danger">
		<h5>
			<ul>
				<li>Слышь</li>
				<% @skin.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</h5>
	</div>
<% end %>

<div class="container form-container">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-6">
			<%= form_for @skin do |f| %>
				<div class="form-control">
					<%= f.label :name %>:
					<%= f.text_field :name %>
				</div>

				<div class="form-control">
					<%= f.label :sname %>:
					<%= f.text_field :sname %>
				</div>
				
				
				<div class="form-control">
					<%= f.label :description %>:<br>
					<%= f.text_area :description %>
				</div>
				<div class="download">
					<div class="form-control">
						<%= f.label 'Обложка:' %>
						<%= f.file_field :cover, id: 'control1' %>
						<button id="clear1">Очистить</button>
					</div>
					
					
					<div class="form-control">
						<%= f.label 'Фотки:' %>
						<%= f.file_field :images, multiple: true, id: 'control2' %>
						<button id="clear2">Очистить</button>
					</div>

					<div class="form-control">
						<%= f.label :video %>:
						<%= f.text_field :video %>
					</div>
					
				</div>
				<div class="form-control">
					<%= collection_select(:skin, :type_id, Type.all, :id, :name, {}, { :multiple => false}) %>
				</div>

				<div class="form-control">
					<%= collection_select(:skin, :color_id, Color.all, :id, :name, {}, { :multiple => false}) %>
				</div>

				<div class="form-control">
					<%= collection_select(:skin, :hardness_id, Hardness.all, :id, :name, {}, { :multiple => false}) %>
				</div>
				
				<div class="row targets-adding">
					<div class="col-6">
						<div class="form-control" style="padding-top: 0;">
							<%= f.label :targets %>:<br>
							<%= f.text_area :targets, id: "text_tag_input" %>
						</div>
					</div>
					<div class="col-6">
						<ul class="tags_select">
							<% Target.all.each do |target| %>
								<li value="<%= target.name %>"><%= target.name %></li>
							<% end %>
						</ul>
					</div>
				</div>

				<div class="form-control">
					<%= f.submit 'Сохранить', class: 'skin-button' %>
					<%= link_to 'Отмена', skins_path, class: 'skin-button' %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$("#clear1").click(function(event){
	  event.preventDefault();
	  $("#control1").replaceWith("<input id='control' type='file' name='skin[cover]'>");
	});

	$("#clear2").click(function(event){
	  event.preventDefault();
	  $("#control2").replaceWith('<input multiple="multiple" type="file" name="skin[images][]" id="skin_images">');
	});
</script>

<script>
	$('.tags_select li').click(function() {
	    var value = $(this).text();
	    var input = $('#text_tag_input');
	    input.val(input.val() + value + ', ');
	    return false;
	});
</script>